<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>learning vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="src/styles.css" />
</head>

<body>
  <div class="app">
    <div v-if="show">
      <p>{{title}} - {{author}} - {{age}}</p><br />
    </div>
    <br>
    <div>
      <button>
        <span v-if="show" @click="toggleShow">Hide box</span>
        <span v-else @click="toggleShow">Show box</span>
      </button>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3.2.0"></script>
  <script src="src/app.js"></script>
</body>

</html>