<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>learning vue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="src/styles.css" />
</head>

<body>
  <div class="app">

    <a :href="url">click here</a>
    <div v-if="show">
      <ul>
        <li v-for="(book, index) in books" :key="index" :class="{fav: book.isFav}" @click="markFav(index)">
          <img :src="book.image" :alt="book.title">
          <h3>{{book.title}}</h3>
          <p>{{book.author}}</p>
          <p>{{index}}</p>
        </li>
      </ul>
    </div>

    <br>
  </div>
  <script src="https://unpkg.com/vue@3.2.0"></script>
  <script src="src/app.js"></script>
</body>

</html>