/* color palette
https://www.color-hex.com/color-palette/1147
#b8dbd3	(184,219,211)
#f7e7b4	(247,231,180)
#68c4af	(104,196,175)
#96ead7	(150,234,215)
#f2f6c3	(242,246,195)


*/
body {
	background-color: #f2f6c3;
}
.app {
	display: flex;
	height: 100vh;
}
.card {
	background: #96ead7;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 10px;
	width: 200px;
	height: auto;
}

.error {
	color: firebrick;
}
